* {
    box-sizing:border-box;
}

body {
  font-family:'Barlow', sans-serif ;
  background:#131313;
  line-height:1.6em;
  font-size:18px;
  margin:0px;
  overflow-x:hidden;
  overflow-y:scroll;
  color:#ADADAD;
}

ul {
  margin:0;
  padding:0;
  list-style-type:none;
}

.huli ul, .rooms ul, .wx ul .creative ul, .triangles ul {
  list-style-type:square;
  margin-left:20px;
}

h1 {
  font-size:56px;
  font-family:'Poppins', sans-serif;
  font-weight:700;
  color:#FFFFFF;
  line-height:100%;
}

h2 {
  font-size:36px;
  font-family:'Poppins', sans-serif;
  font-weight:700;
  color:#FFFFFF;
  line-height:120%;
  margin:12px 0 8px;
}

h3 {
  font-family:'Barlow', sans-serif;
  font-weight:500;
  font-size:20px;
  margin-bottom:4px;
  color:#FFFFFF;
}

a {
  text-decoration:none;
  color:#FFFFFF;
}

b {
  color:#FFFFFF;
  font-weight:500;
}

.project b {
  font-weight:700;
}

#navbar {
  top:0;
  position:fixed;
  width:100vw;
  transition:top 0.5s;
  z-index:1;
/*  background:rgba(19, 19, 19, 0.2);*/
}

nav {
  padding:4vh 12vw; 
  display:flex;
  justify-content:space-between; 
  position:relative;
}

.logo a {
  font-family:'Poppins', sans-serif;
  color:#FFFFFF;
  font-weight:700;
  padding:12px;
  background:rgba(19, 19, 19, 0.2);
}

/*.logo a::after {
  content:'.';
  color:#5AC8FA;
  font-size:1.4em;
}*/

.nav {
  display:flex;
}

.nav a {
  margin-left:40px;
  color:#F7F2F2;
  transition:all 0.2s ease;
  text-transform:uppercase;
  padding-bottom:10px;
  letter-spacing:0.1em;
  font-size:14px;
}

.nav a:hover {
  color:#5AC8FA;
}

header {
  height:80vh;
  margin:50vh 32vw 0 20vw; 
}

#introduction {
  font-family:'Poppins', sans-serif;
  margin-top:40px;
  font-size:18px;
  font-weight:500;
  line-height:120%;
  color:#FFFFFF;
}

#description {
  font-family:'Poppins', sans-serif;
  font-size:72px;
  font-weight:700;
  line-height:110%;
  color:#FFFFFF;
}

.text-accent {
  color:#5AC8FA;
  display:inline;
}

.scroll:before {
  position:absolute;
  left:50%;
}

.scroll {
  width:28px;
  height:48px;
  position:absolute;
  bottom:-8vh;
  left:20vw;
  border:1px solid #CCCCCC;
  border-radius:24px;
}

.scroll:before {
  content:'';
  width:8px;
  height:8px;
  background:#5AC8FA;
  margin-left:-4px;
  top:8px;
  border-radius:4px;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-name:scroll;
}

@keyframes scroll {
  0% { 
    opacity:1; 
  }
  
  100% { 
    opacity:0;
    transform:translateY(24px);
  }
}

.connector::before {
  content: '';
  width:10px;
  height:10px;
  border-radius:5px;
  background:#FFFFFF;
  display:inline-block;
  position:absolute;
  top:-4px;
  left:-5px;
}

.connector {
  width:1px;
  top:16px;
  left:10px;
  height:30vh;
  background:#FFFFFF;
  position:relative;
}

label {
  background:#5AC8FA;
  display:inline;
  padding:4px 8px;
  margin-right:8px;
  border-radius:4px;
  color:#131313;
}

.index section {
  margin:240px 20vw;
  position:relative;
}

.huli section, .rooms section, .rooms-two section, .wx section, .creative section, .triangles section {
  margin:16vh 32vw 0 20vw;
}

.rooms-two, .rooms-two h2, .rooms-two h3 {
  background:#FFFFFF;
  color:#131313;
}

.container {
  margin:32vh 20vw;
}

.container span {
  font-size:12px;
  letter-spacing:0.1em;
  text-transform:uppercase;
  color:#F7F2F2;
}

.type {
  position:relative;
  font-size:32px;
  color:#F7F2F2;
  font-family:'Poppins', sans-serif;
  font-weight:700;
}

.container .type {
  font-size:20px;
  font-weight:400;
  font-family:'Barlow', sans-serif;
}

.container .description {
  padding-bottom:32px;
  border-bottom:1px solid #1F1F1F;
  margin:8px 0 32px;
}

.entry {
  display:flex;
  justify-content:space-between;
  margin-top:20vh;
  height:30vh;
  transition:all 0.2s ease-in-out; }
}

/*.entry:nth-child(even) {
  flex-direction:row-reverse;
}
*/
.project {
  width:50vw;
  padding-right:4vw;
}

.project a {
  font-family:'Poppins', sans-serif;
  line-height:110%;
  font-weight:400;
  font-size:32px;
  color:#F7F2F2;
  transition:all 0.2s ease;
}

.project a:hover {
  color:#DBDBDB;
}

.preview {
  position:relative;
}

.about {
  margin-top:16vh;
  line-height:1.6em;
}

/*.experience {
  margin-left:120px;
  width:60%;
}

.skills {
  width:calc(40% - 120px);
}*/

.cover {
  background:#131313;
  width:100%;
  position:relative;
  top:0;
  left:0;
}

.intro {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
  width:30vw;
  text-align:center;
}

.module {
  margin:8vh 20vw;
}

.huli .background {
  display:flex;
  justify-content:flex-start;
}

.pov {
  display:flex; 
  justify-content:space-between;
  padding-bottom:32px;
  border-bottom:1px solid #1F1F1F;
}

.statement {
  width:30%;
}

.accent {
  margin-top:8vh;
}

section span {
  font-family:'Poppins', sans-serif;
  font-size:12px;
  letter-spacing:0.1em;
  position:relative;
  top:16px;
  font-weight:bold;
  text-transform:uppercase;
}

.huli section span {
  color:#F7923A;
}

.rooms section span, .rooms-two section span {
  color:#FFE600;
}

.triangles section span {
  color:#33A7FF;
}

.wx section span {
  color:#A5C84D;
}

video {
  margin:20px 0;
}

.slideshow-container {
  max-width:100%;
  position:relative;
  margin:auto;
}

.mySlides {
  display:none;
}

.dot {
  cursor:pointer;
  height:10px;
  width:10px;
  margin:0 2px;
  border-radius:50%;
  display:inline-block;
  transition:background 0.3s ease;
}

.huli .dot {
  border:1px solid #F7923A;
}

.rooms .dot {
  border:1px solid #FFE600;
}

.huli .active, .huli .dot:hover {
  background:#F7923A;
}

.rooms .active, .rooms .dot:hover {
  background:#FFE600;
}

.fade {
    -webkit-animation-name:fade;
    -webkit-animation-duration:0.5s;
    animation-name:fade;
    animation-duration:0.5s;
}

@-webkit-keyframes fade {
    from {opacity:.4} 
    to {opacity:1}
}

@keyframes fade {
    from {opacity:.4} 
    to {opacity:1}
}

footer {
  padding:8vh 20vw; 
  text-align:center;
  font-size:18px;
  font-family:'Poppins', sans-serif;
  display:flex;
  justify-content:space-between;
}


@media only screen and (max-width:961px) {
  nav {
    padding:4vh 8vw;
  }

  header {
    display:block;
    margin:32vh 8vw 0; 
    height:60vh;
  }

  #description {
    font-size:56px;
  }

  .index section {
    margin:120px 8vw;
    padding:0;
    background:none;
  }

  .index {
    margin-top:50vh;
  }

  .index .type {
    margin-bottom:-16vh;
  }

  .entry {
    flex-direction:column-reverse;
    margin-top:40vh;
  }

  .project {
    width:100%;
    margin-right:0;
  }

  .preview {
    width:50%;
    max-width:300px;
  }

  .statement {
    width:100%;
    margin-top:20px;
  }

  .scroll {
    display:none;  
  }

  .background, .about, .vid {
    display:block !important;
  }

  .intro {
    position:relative;
    top:40px;
    left:0;
    margin:0 8vw;
    text-align:left;
    transform:none;
    width:auto;
  }

  .col, video, .skills {
    width:100%;
  }

  .module {   
    margin:4vh 8vw !important;
  }

  .part {
     width:100% !important;
     margin-left:0 !important;
  }

  .huli section, .rooms section, .wx section, .creative section, .triangles section {
    margin:16vh 8vw 0;
  }

  .pov {
    display:block; 
    padding-bottom:32px;
    border-bottom:1px solid #1F1F1F;
  }

  .experience {
    margin-left:0;
    width:100%;
  }

  .container {
    margin:160px 8vw !important;
  }

}

@media only screen and (min-width:1681px) {
    #container {
        width:1680px;
    }
}