* {
    box-sizing:border-box;
}

body {
  font-family:'Barlow', sans-serif ;
  background:#131313;
  line-height:1.6em;
  font-size:16px;
  margin:0px;
  overflow-x:hidden;
  overflow-y:scroll;
  color:#D0D0D0;
}

ul {
  margin:0;
  padding:0;
  list-style-type:none;
}

.huli ul {
  list-style-type:square;
  margin-left:20px;
}

h1 {
  font-size:48px;
  font-family:'Playfair Display';
  font-weight:900;
  color:#FFFFFF;
}

h2 {
  font-size:36px;
  font-family:'Playfair Display';
  font-weight:900;
  color:#FFFFFF;
}

.index h2 {
  top:-100px;
  position:relative;
  color:#F7F2F2;
}

.huli h3 {
  font-family:'Barlow', sans-serif;
  font-weight:500;
  font-size:20px;
  margin-bottom:4px;
  color:#FFFFFF;
}

a {
  text-decoration:none;
  color:#FFFFFF;
}

b {
  color:#FFFFFF;
}

.huli b {
  color:#FFFFFF;
  font-weight:500;
}

#navbar {
  top:0;
  position:fixed;
  width:100%;
  transition:top 0.5s;
  z-index:1;
  background:rgba(19, 19, 19, 0.6);
}

nav {
  padding:4vh 16vw; 
  display:flex;
  justify-content:space-between; 
  position:relative;
}

.logo a {
  font-family:'Playfair Display';
  color:#FFFFFF;
  font-weight:900;
}

.logo a::after {
  content:'.';
  color:#5AC8FA;
  font-size:1.4em;
}

.nav {
  display:flex;
}

.nav a {
  margin-left:40px;
  color:#F7F2F2;
  transition:all 0.2s ease;
  text-transform:uppercase;
  padding-bottom:10px;
  letter-spacing:0.1em;
  font-size:14px;
}

.nav a:hover {
  color:#5AC8FA;
}

header {
  height:100vh;
  padding:50vh 16vw 0; 
  display:flex;
  justify-content:space-between;
}

#introduction, #description {
  width:calc(50% - 40px);
}

#introduction {
  font-family:'Playfair Display';
  font-size:32px;
  font-weight:900;
  line-height:110%;
  color:#FFFFFF;
}

#description {
  font-size:18px;
}

.text-accent {
  color:#5AC8FA;
  display:inline;
}

.scroll:before {
  position:absolute;
  left:50%;
}

.scroll {
  width:32px;
  height:56px;
  position:absolute;
  bottom:16vh;
  left:16vw;
  border:1px solid #CCCCCC;
  border-radius:25px;
}

.scroll:before {
  content:'';
  width:8px;
  height:8px;
  background:#5AC8FA;
  margin-left:-4px;
  top:8px;
  border-radius:4px;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-name:scroll;
}

@keyframes scroll {
  0% { 
    opacity:1; 
  }
  
  100% { 
    opacity:0;
    transform:translateY(32px);
  }
}

.index section {
  margin:240px 8vw;
  padding:0 8vw 120px;
  background:#1F1F1F;
  position:relative;
  border-radius:16px;
}

.huli section, .rooms section {
  margin:16vh 16vw 0 16vw;
}

.index section span {
  font-size:0.6em;
  letter-spacing:0.1em;
  text-transform:uppercase;
  color:#F7F2F2;
}

.container span {
  font-size:12px;
  letter-spacing:0.1em;
  text-transform:uppercase;
  color:#F7F2F2;
}

.type {
  top:-100px;
  position:relative;
  font-size:32px;
  color:#F7F2F2;
  font-family:'Playfair Display';
  font-weight:900;
}

.container .type {
  top:0;
  font-size:20px;
  font-weight:400;
  font-family:'Barlow', sans-serif;
}

.container .description {
  padding-bottom:32px;
  border-bottom:1px solid #1F1F1F;
  margin:8px 0 32px;
}

.project a {
  font-family:'Barlow', sans-serif;
  font-weight:300;
  font-size:20px;
  display:block;
  width:30%;
  margin-top:80px;
  color:#F7F2F2;
  transition:all 0.2s ease;
}

.preview {
  display:none;
  background:#5AC8FA;
  position:absolute;
  width:40%;
  height:calc(100% - 240px);
  right:8vw;
  top:50%;
  transform:translateY(-50%);
  transition:all 0.2s ease;
}

.project a:hover {
  color:#5AC8FA;
}

.project a:hover + .preview {
  display:block;  
}

.about {
  display:flex;
  justify-content:flex-start;
  margin-top:16vh;
  line-height:1.4em;
}

.experience {
  margin-left:120px;
  width:60%;
}

.skills {
  width:calc(40% - 120px);
}

.huli .background {
  display:flex;
  justify-content:flex-start;
}

.slideshow-container {
    max-width:100%;
    position:relative;
    margin:auto;
}

.mySlides {
    display:none;
}

.prev, .next {
    cursor:pointer;
    position:absolute;
    top:50%;
    margin-top:-22px;
    width:auto;
    padding:16px;
    color:#000;
    font-weight:bold;
    font-size:18px;
    transition:0.2s ease;
    user-select:none;
}

.next {
    right:0;
}

.dot {
    cursor:pointer;
    height:10px;
    width:10px;
    margin:0 2px;
    border-radius:50%;
    background:#999;
    display:inline-block;
    transition:background 0.3s ease;
}

.active, .dot:hover {
    background:#000;
}

.fade {
    -webkit-animation-name:fade;
    -webkit-animation-duration:0.5s;
    animation-name:fade;
    animation-duration:0.5s;
}

@-webkit-keyframes fade {
    from {opacity:.4} 
    to {opacity:1}
}

@keyframes fade {
    from {opacity:.4} 
    to {opacity:1}
}

footer {
  padding:4vh 16vw; 
  text-align:center;
  font-size:14px;
}