* {
    box-sizing:border-box;
}

body {
  font-family:'Lato', sans-serif ;
  background:#131313;
  line-height:1.8em;
  margin:0px;
  overflow-x:hidden;
  overflow-y:scroll;
  color:#E6EBF4;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  text-decoration:none;
  color:#999;
}

#navbar {
  top:0;
  position:fixed;
  width:100%;
  transition:top 0.5s;
  z-index:1;
  background:rgba(19, 19, 19, 0.4);
}

nav {
  padding:4vh 16vw; 
  display:flex;
  justify-content:space-between; 
  position:relative;
}

.logo a {
  font-family:'PT Serif', serif;
  font-weight:700;
  color:#FFFFFF;
}

.logo a::after {
  content:'.';
  color:#5AC8FA;
  font-size:1.4em;
}

.nav {
  display:flex;
}

.nav a {
  margin-left:40px;
  color:#F7F2F2;
  transition:all 0.2s ease;
  text-transform:uppercase;
  padding-bottom:10px;
  font-size:0.8em;
  letter-spacing:0.1em;
}

.nav a:hover {
  color:#5AC8FA;
}

header {
  height:100vh;
  padding:50vh 16vw 0; 
  display:flex;
  justify-content:space-between;
}

#introduction, #description {
  width:calc(50% - 40px);
}

#introduction {
  font-family:'PT Serif', serif;
  font-size:2.2em;
  font-weight:700;
  line-height:110%;
}

#description {
  font-size:1.2em;
}

.text-accent {
  color:#5AC8FA;
  display:inline;
}

.scroll:before {
  position:absolute;
  left:50%;
}

.scroll {
  width:32px;
  height:56px;
  position:absolute;
  bottom:16vh;
  left:16vw;
  border:1px solid #CCCCCC;
  border-radius:25px;
}

.scroll:before {
  content:'';
  width:8px;
  height:8px;
  background:#5AC8FA;
  margin-left:-4px;
  top:8px;
  border-radius:4px;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-name:scroll;
}

@keyframes scroll {
  0% { 
    opacity:1; 
  }
  
  100% { 
    opacity:0;
    transform:translateY(32px);
  }
}

section {
  margin:240px 8vw;
  padding:0 8vw 120px;
  background:#1F1F1F;
  position:relative;
  border-radius:16px;
}

section span {
  font-size:0.6em;
  letter-spacing:0.1em;
  text-transform:uppercase;
  color:#F7F2F2;
}

.container span {
  font-size:0.6em;
  letter-spacing:0.1em;
  text-transform:uppercase;
  color:#F7F2F2;
}

.type {
  top:-100px;
  position:relative;
  font-size:1.8em;
  font-weight:700;
  color:#F7F2F2;
  font-family:'PT Serif', serif;
}

.container .type {
  margin-top:0;
  font-size:1.6em;
}

.project a {
  font-family:'Lato', sans-serif;
  font-weight:300;
  font-size:1.2em;
  display:block;
  width:30%;
  margin-top:80px;
  color:#F7F2F2;
  transition:all 0.2s ease;
}

.preview {
  display:none;
  background:#5AC8FA;
  position:absolute;
  width:40%;
  height:calc(100% - 240px);
  right:8vw;
  top:50%;
  transform:translateY(-50%);
  transition:all 0.2s ease;
}

.project a:hover {
  color:#5AC8FA;
}

.project a:hover + .preview {
  display:block;  
}

.about {
  display:flex;
  justify-content:flex-start;
  margin-top:32vh;
}

.experience, .skills {
  width:calc(50% - 40px);
}

footer {
  padding:4vh 16vw; 
  font-size:0.8em;
  text-align:center;
}