* {
    box-sizing:border-box;
}

body {
    font-family:'Roboto', sans-serif ;
    background:#fff;
    line-height:1.5em;
    overflow-x:hidden;
    overflow-y:scroll;
}
nav ul, footer ul {
    padding:0px;
    list-style:none;
    font-weight:bold;
}
nav ul li, footer ul li {
    display:block;
    margin-right:20px;
}
a {
    text-decoration:none;
    color:#999;
}

a.focus:link, a.focus:visited, a:hover
{
    font-weight:600;
    color:#000;
}

strong, b {
    font-weight:600;
}

h1 {
    font-size:2em;
    font-family:'Open Sans', sans-serif;
}

p {
    font-size:1em;
    line-height:1.4em;
    color:#333333;
}

#container {
    position:relative;
    margin:0 auto;
    padding:140px;
}

@media only screen and (min-width:1681px) {
    #container {
        width:1680px;
    }
}

/* TODO: FOR MIN-WIDTH 360 AND MAX-WIDTH 800 */

#logo {
    font-family:'Open Sans', sans-serif;
    font-size:1em;
    font-weight:800;
    position:absolute;
    color:#000;
}

#logo c {
    font-weight:600;
    color:#999;
}



#nav {
    display:inline;
    float:right;
}

#nav a {
    display:inline;
    margin-right:20px;
    font-weight:600;
}

#intro {
    font-family:'Open Sans', sans-serif;
    width:100%;
    float:right;
    line-height:1.5em;
    position:relative;
}

#works {
    position:absolute;
    top:40vh;
    left:0px;
    padding:140px 140px 280px 140px;
    margin:0 auto;
}

.rectangle {
    float:left;
    position:relative;
    width:100%;
    height:auto;
}

.rectangle:nth-child(3n+2) {
    float:left;
    width:calc(50% - 3px);
}

.rectangle:nth-child(3n+3) {
    float:right;
    width:calc(50% - 3px);
}

.info {
    top:40px;
    left:40px;
    position:absolute;
    font-family:'Open Sans', sans-serif;
} 

.cover {
    width:100%;
    height:auto;
}

#footer {
    width:100%;
    height:200px;
    background:#000;
    bottom:0px;
    left:0px;
}