* {
    box-sizing:border-box;
}

body {
    font-family:'Roboto', sans-serif ;
    background:#fff;
    line-height:1.5em;
    overflow-x:hidden;
    overflow-y:scroll;
}
nav ul, footer ul {
    padding:0px;
    list-style:none;
    font-weight:bold;
}
nav ul li, footer ul li {
    display:block;
    margin-right:20px;
}

a {
    text-decoration:none;
    color:#999;
}

a.focus:link, a.focus:visited, a:hover
{
    font-weight:700;
    color:#000;
}

strong, b {
    font-weight:700;
}

h1 {
    font-size:2em;
    font-family:'Source Sans Pro', sans-serif;
}

p {
    font-size:1em;
    line-height:1.4em;
    color:#333;
}

#container {
    position:relative;
    margin:0 auto;
    padding:8vw;
}

@media only screen and (max-width:961px) {
    .rectangle:nth-child(3n+2),
    .rectangle:nth-child(3n+3) {
        width:100% !important;
    }
}

@media only screen and (min-width:1681px) {
    #container {
        width:1680px;
    }
}

/* TODO: FOR MIN-WIDTH 360 AND MAX-WIDTH 960 */

#logo {
    font-family:'Source Sans Pro', sans-serif;
    font-size:1em;
    font-weight:700;
    position:absolute;
    color:#000;
}

#nav {
    display:inline;
    float:right;
}

#nav a {
    display:inline;
    font-family:'Source Sans Pro', sans-serif;
    margin-left:20px;
    font-weight:700;
}

#intro {
    font-family:'Source Sans Pro', sans-serif;
    width:100%;
    float:right;
    line-height:1.5em;
    position:relative;
}

#works {
    position:absolute;
    top:40vh;
    left:0px;
    padding:8vw 8vw 16vw 8vw;
    margin:0 auto;
}

.rectangle {
    float:left;
    position:relative;
    width:100%;
    height:auto;
    margin-bottom:14px;
}

.rectangle:nth-child(3n+2) {
    float:left;
    width:calc(50% - 10px);
}

.rectangle:nth-child(3n+3) {
    float:right;
    width:calc(50% - 10px);
}

.info {
    position:absolute;
    top:30px;
    left:30px;
    font-family:'Source Sans Pro', sans-serif;
}

.name {
    font-size:0.8em ;
    top:40px;
    left:40px;
    position:absolute;
    font-weight:700;
    font-family:'Source Sans Pro', sans-serif;
} 

.type {
    bottom:40px;
    left:40px;
    position:absolute;
    font-weight:400;
    font-family:'Source Sans Pro', sans-serif;
}

.info c {
    bottom:40px;
}

.cover {
    width:100%;
    height:auto;
}

#footer {
    width:100%;
    height:200px;
    background:#000;
    bottom:0px;
    left:0px;
}