* {
  box-sizing:border-box;
}

body {
    font-family:'Roboto', sans-serif ;
    margin:60px auto;
    width:70%;
    background:#f9f9f9;
}
nav ul, footer ul {
    padding:0px;
    list-style:none;
    font-weight:bold;
}
nav ul li, footer ul li {
    display:inline;
    margin-right:20px;
}
a {
    text-decoration:none;
    color:#999;
}
a:hover {
    text-decoration:underline;
}

a.focus:link, a.focus:visited
{
    color:blue;
}

h1 {
    font-size:3em;
    font-family:'Open Sans', sans-serif;
}

p {
    font-size:1.5em;
    line-height:1.4em;
    color:#333;
}

#container {
    width:100%;
}

.rectangle {
    position:relative;
    width:100%;
    height:300px;
    top:0;
    right:0;
    border:1px solid #000000;
    margin:20px 0px;
}
