* {
    box-sizing:border-box;
}

body {
  font-family:'Roboto', sans-serif ;
  background:#fff;
  line-height:1.8em;
  margin:0px;
  overflow-x:hidden;
  overflow-y:scroll;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  text-decoration:none;
  color:#999;
}

#navbar {
  top:0;
  position:fixed;
  width:100%;
  transition:top 0.5s;
  z-idnex:1;
}

nav {
  padding:4vh 16vw; 
  display:flex;
  justify-content:space-between; 
  position:relative;
  top:0;
  left:0;
  right:0;
}

.nav {
  display:flex;
}

.nav a {
  margin-left:40px;
}

header {
  margin-top:20vh;
  padding:16vh 16vw; 
  display:flex;
  justify-content:space-between;
}

#introduction, #description {
  display:flex;
  width:50%;
}

#introduction {
  padding-right:80px;
  font-family:'Lato', sans-serif;
  font-size:1.6em;
  font-weight:700;
  line-height:110%;
}

#description {
  font-size:1.2em;
}

section:nth-child(odd)  {
  margin:8vw;
  padding:120px 8vw; 
  background:#171A26;
  position:relative;
  border-radius:8px;
}

section:nth-child(odd) span {
  font-size:0.6em;
  letter-spacing:0.1em;
  text-transform:uppercase;
  color:#F7F2F2;
}

section:nth-child(even)  {
  margin:8vw;
  padding:120px 8vw; 
  background:#F7F2F2;
  position:relative;
  border-radius:8px;
}

section:nth-child(even) span {
  font-size:0.6em;
  letter-spacing:0.1em;
  text-transform:uppercase;
  color:#171A26;
}

section:nth-child(even) a, .type {
  color:#171A26;
}

section:nth-child(odd) .type {
  color:#F7F2F2;

}

.type {
  font-size:1.8em;
  font-weight:700;
}

.project a {
  font-family:'Lato', sans-serif;
  font-size:1.4em;
  display:block;
  width:30%;
  margin-top:80px;
  color:#F7F2F2;
}

.preview {
  display:none;
  background:#00B5B0;
  position:absolute;
  width:40%;
  height:calc(100% - 16vh);
  right:8vw;
  top:50%;
  transform:translateY(-50%);
  transition: all 0.2s ease;
}

.project a:hover {
  color:#00B5B0;
  transition: all 0.2s ease;
}

.project a:hover + .preview {
  display:block;  
  transition: all 0.2s ease;
}

footer {
  padding:4vh 16vw; 
  font-size:0.8em;
  text-align:center;
}