* {
    box-sizing:border-box;
}

body {
  font-family:'Roboto', sans-serif ;
  background:#fff;
  line-height:1.8em;
  margin:0px;
  overflow-x:hidden;
  overflow-y:scroll;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  text-decoration:none;
  color:#999;
}

nav {
  display:flex;
  justify-content:space-between;
}

.nav {
  display:flex;
}

.nav a {
  margin-right:20px;
}


header {
  padding:4vw 16vw; 
  background:#eee;
  display:flex;
  justify-content:space-between;
}

#introduction, #description {
  display:flex;
}

#introduction {
  width:50%;
  font-family:'Lato', sans-serif;
  font-size:2em;
  font-weight:700;
  line-height:100%;
}