* {
    box-sizing:border-box;
}

body {
  font-family:'Chivo', sans-serif ;
  background:#fff;
  line-height:1.8em;
  overflow-x:hidden;
  overflow-y:scroll;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
}


a {
  text-decoration:none;
  color:#999;
}

nav {
  display:flex;
  justify-content:space-between;
  background:#fff;
}

.logo {
  margin:0px;
}

.nav {
  display:flex;
}

.nav a {
  display:block;
  margin-right:20px;
}
